<h1>NEW BOOKING PAGE</h1>

<div>
  <p><strong>Departing from:</strong> <%= @flight.airport_from.name %></p>
  <p><strong>Arriving at:</strong> <%= @flight.airport_to.name %></p>
  <p><strong>Departing at:</strong> <%= @flight.departure_date %></p>
  <p><strong>Length of flight:</strong> <%= @flight.duration / 60 %> hours</p>
</div>
