<h1>BOOKING SHOW PAGE</h1>

<%= render partial: "display-flight", locals: { flight: @booking.flight } %>

<% i = 1 %>
<% @booking.passengers.each do |p| %>
  <div>
    <p>Passenger <%= i %></p>
    <p><%= p.name %></p>
    <p><%= p.email %></p>
  </div>

  <% i += 1 %>
<% end %>
