<div id="top">
  <ul id="navbar">
    <li class="navbar-link"><%= link_to "Book a flight", flights_path %></li>
  </ul>

  <div>
    <p class="notice"><%= flash[:notice] %></p>
    <p class="alert"><%= flash[:alert] %></p>
  </div>
</div>
